body{
    background-color: #8e70df;
    background-image: url(../404_505.png);
    background-position: 250px;
    font-family: sans-serif;
    color: white;
}

.inftxt{
    position: fixed;
    margin-left: 50px;
    margin-top: -70px;
}

.txt{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: -15px;
}

.errortxt{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 0px;
}
.s404-505 {
    font-size: 200px;
    font-weight: 700;
    font-style: normal;
    line-height: 0px;
    margin-bottom: 100px;
}