/* ----------------------------------------------------------------------------- ЛИЧНЫЙ КАБИНЕТ --------------------------------------------------------------------*/
/* автарка */

  
  .info1{
    position: relative;
    top: 5%;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  
  }
  /* Для никнейма */
  .login{
      position: absolute;
      font-size: 30pt;
      font-weight: 700;
      top: 80%;
  }
  /* параметры картинки в автарке */
  
  svg{
      width: 100px;
      height: 100px;
      border-radius: 50px;
  }
  
  
  /* Ячейка с параметрами */
  .main_cab{
      max-width: 100%;
      height: 800px;
      position: relative;
      background-color: #0a073ae0;
      top: 15%;
      margin: 0 auto;
      left: 0;
      right: 0;
      border-radius: 15px;
      box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
      font-size: 20px;
      font-size: calc(14px + 6 * ((100vw - 320px) / (1600 - 320)));
      text-align: center;
  }
  .info{
    position: relative;
    margin: 30px auto;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    text-align: left;
    display: flex;
    
  }
  .personal_data{
    position: relative;
    background-color: #0a073ad2;
    width: 49%;
    border-radius: 15px;
    font-size: 16px;
    font-size: calc(10px + 6 * ((100vw - 320px) / (1600 - 320)));
    flex-direction: column;
  }
  .passport{
    position: relative;
    background-color: #0a073ad2;
    width: 49%;
    left: 2%;
    border-radius: 15px;
    font-size: 16px;
    font-size: calc(10px + 6 * ((100vw - 320px) / (1600 - 320)));
    flex-direction: column;
  }
  h1{
    position: relative;
    font-size: 26px;
    margin: 0px 40px 40px 0px;
    font-size: calc(16px + 6 * ((100vw - 320px) / (1600 - 320)));
  }
  
  h3{
    position: relative;
    font-weight: 700;
  }
  .container p{
    margin: 10px 0px 20px 20px;
  }
  
  @media (max-width: 1180px){
    .container{
      max-width: 767px;
    }
  
  }
  
  @media (max-width: 750px){
    .container{
      max-width: 300px;
    }
  }
  /* Для ФИО */
  .FIO{
      position: absolute;
      top:2%;
      left:34%;
  }
  
  /* для отображения прав доступа */
  .status{
      position: absolute;
      top:6%;
      left:39%;
  }
  .info-group{
      position: relative;
      top: 10%;
      width: 100%;
      height: 60%;
  }
  /* для отображения даты Рождения */
  .birthday{
    text-align: left;
  }
  /* для отображения электронной почты */
  .email_cab{
      position: absolute;
      margin: 0 auto;
      left:70%;
      width: 20%;
  }
  /* для отображения ссылки на вк */
  .vk_link{
      position: absolute;
      left:10%;
      width: 20%;
  }
  /* Для отображения ИНН */
  .inn_cab{
      position: absolute;
      top: 40%;
      left:70%;
      width: 20%;
  }
  /* Для отображения реквизитов банка */
  .bank_details_cab{
      position: absolute;
      top:40%;
      left:40%;
      width: 20%;
  }
  /* Для отображения имени банка */
  .bname{
      position: absolute;
      top: 40%;
      left:10%;
      width: 20%;
  }
  /* для отображения номера телефона */
  .phone{
      position: absolute;
      left:40%;
      width: 20%;
  }
  /* Ссылка на изменение данных */
  .changing{
      position: fixed;
   bottom: 50px;
   right: 30px;
   background-color: var(--dropdown-bg);
   box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
   padding: 8px;
   border-radius: 50%;
   z-index: 3;
   cursor: pointer;
  
  }
   svg {
    width: 50px;
    flex-shrink: 0;
    transition: 0.5s;
   }
   .spec_tags{
    position: absolute;
    top:80%;
    left:10%;
    width: 20%;
  }
  #tags{
    height: 35px;
    background: #A7AAE8;
    border-radius: 15px;
  }
  
  /* То же самое, но для смены данных */
  .name_ch{
      position: absolute;
      top:2%;
      left:30%;
  }
  #name{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .nick_ch{
      position: absolute;
      top:2%;
      left:50%;
  }
  #nickname{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .vk_ch{
      position: absolute;
      top:22%;
      left:61%;
      width: 30%;
  }
  #link_vk{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .birthday_ch{
      position: absolute;
      top: 22%;
      left: 0%;
      width: 30%;
  }
  #birthDAy{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
      content: none;
      counter-increment: none;
  }
  .inn_ch{
      position: absolute;
      top:42%;
      left:3%;
      width: 30%;
  }
  #inn{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .bank_det_ch{
      position: absolute;
      top:50%;
      left:32%;
      text-align: center;
      width: 30%;
  }
  #bank_details{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .bank_nam_ch{
      position: absolute;
      top:42%;
      left:32%;
      width: 30%;
  }
  #bankName{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .phone_ch{
      position: absolute;
      top:42%;
      left:60%;
      width: 30%;
  }
  #phone_number{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .pass1_ch{
      position: absolute;
      top:72%;
      right:60%;
      width: 30%;
  }
  #passport{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .pass2_ch{
      position: absolute;
      top:72%;
      left:30%;
      width: 70%;
  }
  #passportData{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .pass3_ch{
      position: absolute;
      top:82%;
      right: 51%;
      width: 50%;
  }
  #passportBy{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .pass4_ch{
      position: absolute;
      top:82%;
      left:33%;
      width: 60%
  }
  #passportCod{
      height: 40px;
      background: #A7AAE8;
      border-radius: 15px;
  }
  .sub_ch{
      position: relative;
      bottom: 25%;
      right: 0%;
      content: none;
  }
  #submit{
      background-image: url(../icons/cabinet/submit.png);
      width: 50px;
      height: 50px;
      background-color: #000F3F;
      border: none;
  }
  #submit:hover{
    border: 1px solid #A7AAE8;
  }
  .back_to_cab{
      position: absolute;
      top: 86%;
      left:40%;
      color: white;
  }

  .avatar{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 70%;

  }

  .avatar img{
      width: 200px;
      height: 200px;
      border-radius: 100%;
      
  }

#photo{
    opacity: 0;
    z-index: -1000%;
    position: absolute;
    width: 1000px;
    height: 1000px;
}

#photo input {
    display: none;
}

#photo + label{
    position: absolute;
    top:15%;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;

    position: relative;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #c8d2db;
    background-image: url(/static/x_06eb1977.jpg);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    color: #1f3c44;
}

#email{
    height: 40px;
    background: #A7AAE8;
    border-radius: 15px;
}
.empty{
    position: relative;
    width: 5%;
    height: 5%;
    opacity: 0%;
}