body{

}

.fold-link{
width: 200px;
height: 100px;
}
ul li{
    list-style-type: none;
}



.context-menu-open {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    max-width: 300px;
    max-height: 200px;
  }

/* поле с элементами */
.context-menu {
    position: relative;
    background: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(30px);
    height: 100%;
    min-width: 300px;
    max-width: 1280px;
    bottom: 0;
    overflow: auto;
  }

  .container{
    
  }

  @media (max-width: 1199.98px) {
    .container{
      max-width: 992px;

    }
  }

  @media (max-width: 991.98px) {
    .container{
      max-width: 768px;

    }
  }

  @media (max-width: 767.98px) {
    .container{
      max-width: 576px;

    }
  }

 .edit{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
    background: rgba(109, 109, 109, 0.171);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    z-index: 1000;
    position: fixed;
    height: 700px;
    width: 600px;
    padding: 20px;
 }
  /* @media (max-width: 1180px){
    .context-menu{
      max-width: 767px;
    }
    .search-menu{
        max-width: 767px;
      }
  }
  
  @media (max-width: 750px){
    .context-menu{
      max-width: 300px;
    }
    .search-menu{
        max-width: 300px;
      }
  } */

  /* навигационный бар */
  .search-menu{
    position: static;
    border-bottom: 1px solid rgba(113 119 144 / 25%);
    background: rgba(16 18 27 / 40%);
    backdrop-filter: blur(30px);
    border-radius: 20px 20px 0 0;
    max-width: 1280px;
    min-height: 155px;
    margin-top: 40px;
  }

  .navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .navigation a{
    margin-top: 20px;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(180, 180, 180, 0.397);
  }
.navigation a:hover{
    color: rgb(223, 223, 223);
    background-color: rgba(180, 180, 180, 0.836);
  }

#task-search{
    position: relative;
    top: 15px;
    width: 80%;
    height: 40px;
    border: none;
    background-color: #636580;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;

  }
  
  #task-search::placeholder{
    color: #fafafa;
    padding-left: 20px;
  }

  #task-search:focus {
    color: #212529;
    background-color: #fffffffd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
#url{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 20px;
    height: 80px;
    text-align:left;
    padding-left: 10px;
    bottom: 0;
    border-top: 1px solid rgba(113 119 144 / 25%);
  }
  
#url a{
    position: relative;
    top: 10px;
    height: 60px;
    color: rgb(156, 156, 156);
    cursor: pointer;
    text-align: center;
  }
  
#url a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }

  /* список проектов */
.project_list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/* относится к задачам */
.tasks_list{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(113 119 144 / 25%);
    background: rgba(102, 94, 102, 0.13);
    border-radius: 15px;
    max-width: 90%;
    min-height: 150px;
    height: auto;
    top: 20px;
    left: 5%;
}

/* не трогать а то задачи к хуям сломаются */
.tasks_list li{


}

.task-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100px;
  position: relative;
  background: #50587250;
  padding: 10px 15px 10px 25px;
  margin-left: 20px;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;
}

.task-card:hover{
  background: #2f334250;
  border: 1px solid rgb(85, 85, 85);
}

.task-card p{
  text-align: left;
}

.task-color{
  position: absolute;
  left: -5px;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 0;
}

.task-fname{

}
/* .task-color:hover{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
} */

/* относится к папкам */
.folder_list{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(68, 64, 64, 0.459);
        background: rgba(102, 94, 102, 0.13);
    border-radius: 15px;
    min-height: 150px;
    border-radius: 15px;
    max-width: 90%;
    height: auto;
    top: 40px;
    left: 5%;
}

.folder-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100px;
  position: relative;
  /*background: #d6a607;*/
  padding: 10px 15px 10px 25px;
  margin-left: 20px;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;
}

.folder-color{
  position: absolute;
  left: -5px;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
  }
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

  /* Позиционируем палитру так, чтобы она располагалась в правом верхнем углу страницы */
.color-panel {
  position: absolute; /* задаем абсолютное позиционирование */
  top: -15px; /* прижимаем палитру к верхней части страницы  */
  left: 20px; /* создаем внешний отступ слева */
  background-color: #fff; 
  height: 40px;
  width: 100%;
  padding: 5px 5px 5px 5px; /* задаем внутренние отступы */
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35); /* добавим тень*/
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
  border-radius: 30px;/* закруглим края панели */
  display: none;
}

/* Зададим размеры ячейкам таблицы, закруглим их и прижмем к левому краю панели */
.color-panel div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  float:left;
  margin: 5px;    
}

/* Для каждого блока с «цветным» идентификатором зададим соответствующий названию цвет фона */
#blue{
  background-color: #b3e5fc;
}
#red{
  background-color: #ffcdd2;
}
#purple{
  background-color: #b39ddb;
}
#green{
  background-color: #c5e1a5;
}
#orange{
  background-color: #ffcc80;
}

.cell{
    display: flex; /* Отображать как строчный элемент */
    list-style-type: none; /* Убираем маркеры */
    position: relative;
    float: left;
    margin-left: 5%;
    margin-right: 20px;
    margin-top: 5%;
    top: 20%;
    background: rgba(113, 114, 145, 0.137);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    z-index: 1000;
    background-size: cover;
    background-position: center;
  }

.per_list{

}


.project{ /* бэкраунд блокам project */
    background: linear-gradient(180deg, rgba(41, 24, 51, 0.74) 10%, rgba(71, 33, 133, 0) 100%);
    border-radius: 15px 15px 0px 0px;   
    width: 300px;
    height: 300px;
  }

.name{/*имя проекта*/
 
  }
  
  .low{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
    background-color: #1d1b1bea;
    border-radius: 0px 0px 13px 13px;
    position: absolute;
    padding-left: 10px;
    bottom: 0;
    width: 97%;;
    height: 60px;
  }

  .descover{
    position: relative;
    background: #7781d8;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-image: url("../description.svg");
    background-size: cover;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease;
  }
  /* Появление скрытого элемента при наведении */
  .descover:hover + .hidden{
    display: block;
    
  }
  .descover:hover{
    width: 40px;
    height: 40px;
  }
  .hidden{/*всплывающее описаниу*/
    display: none;
    position: absolute;
    width: 283px;
    height: 180px;
    bottom: 60px;
    right: 0;
    background-color: #1d1b1bea;
    color: #ececec;
    padding: 10px;
    z-index: 2;
    border-radius: 13px 13px 0 0;
    overflow: auto;
    transition-duration: .2s;
    transition-timing-function: ease;
  }
  
  .hidden:hover{
    display: block;
  }
  
  .hidden p{
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    /* height: 200px;
    overflow: auto; */
  }
  
  .people{
    position: relative;
    background: #7781d8;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-image: url("../perchiki.svg");
    background-size: cover;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease;
  }

  /* .people:hover{
      background-color: #636580;
  width: 40px;
  height: 40px;
} */
  .people_logo{
    position: relative;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    object-fit: cover;
  }

/* всплывающая подсказка*/
#tiger{
    position: relative;
    display: inline-block;
    z-index: 1001;
    }

#tiger:hover:after {
    content: attr(data-name);
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(5,13,156,.55);
    color: #fff;
    text-align: center;
    font-family: cursive;
    font-size: 14px;
    padding: 3px 0;
    width: 100%;
    }

  
  .j-list{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 301px;
    height: 230px;
    bottom: 30px;
    right: 0;
    background: linear-gradient(180deg, #1d1b1bea 87%, rgba(217, 217, 217, 0) 87%);
    border-radius: 13px 13px 0 0;
    overflow: auto;
    z-index: 1;
    transition-duration: .2s;
    transition-timing-function: ease;
  }

  .j-list li{
    list-style-type: none; /* Убираем маркеры */
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .list-j{
    display: none;
  }

  .list-j:hover{
    display: block;
  }
  
  .people:hover + .list-j{
    display: block;
  }

  .people_plus{
    position: relative;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-image: url("../add-perchik.svg");
    background-size: cover;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease;
  }

  .people_plus:hover{
    width: 40px;
    height: 40px;
  }
  .backgr{
    position: relative;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-image: url("../add-bg.svg");
    background-size: cover;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease;
  }

  .backgr:hover{
    width: 40px;
    height: 40px;
  }

  .foto{
    left: 40%;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #c8d2db;
    background-image: url(/static/x_06eb1977.jpg);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    color: #1f3c44;
  }
  

  .project_foto{
    width: 100%;
    height: 100%;
  }
  

  #trigger{
    color: black;
  }
  
  /* ябучая блять клевая кнопка закрытия окна создания задачи */
  .cl-btn-7 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    z-index: 1;
    cursor: pointer;
  }
  .cl-btn-7:before {
    content: '+';
    color: #e44635;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  }
  .cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(153.43deg, #a622ce 0%, #CD3A29 83.33%);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
  }
  .cl-btn-7:hover:after {
    transform: scale(1);
  }
  .cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: rgb(255, 255, 255);
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  .create{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
    background: rgba(109, 109, 109, 0.171);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    z-index: 1000;
    position: fixed;
    height: 700px;
    width: 600px;
    padding: 20px;

    border-radius: 15px;
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   */
  }


#myButton{
    border-radius: 5px; 
    width: 200px;
    height: 50px;
    background-color: #fff;
    color: rgb(27, 27, 27);
  }

  .post{
    position: relative;
  }
  /* перчик в списке */
  .target{
    list-style: none;
    background-color: #c99f2d;  
    padding: 10px 15px 10px 25px;
    margin-bottom: 5px;
    height: 100px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    
  }
  .notebooks{
    position: relative;
    width: 600px;
  }
.cr{
  height: 650px;
  display: flex;
  flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
  /* список долбоебиков */
  .person_list{
    position: relative;
    background-color: #0c0c0c5b;
    width: 580px;
    height: 300px;
    border-radius: 10px;
    padding-left: 20px;
    overflow: auto;
  }
  .btn_create{
    margin-top: 10px;
  }
  #perchik_search{
    width: 600px;
    height: 30px;
    border-radius: 5px;
    background-color: #868686;
  }
  #perchik_search::placeholder{
    color: #fafafa;
    padding-left: 20px;
}

#perchik_search:focus {
    color: #212529;
    background-color: #fffffffd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    padding-left: 20px;
  }
  /* свойства долбоебика */
  .person{
    display: block;
  }
  .person-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    list-style: none;
    background-color: #572dc9;  
    padding: 10px 15px 10px 25px;
    margin-bottom: 5px;
    height: 60px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    color: white;
  }
  /* аватарка долбоебика */
  .person_ava{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 20px;
  }
  /* ник долбоебика */
  .person_name{
    position: relative;
    margin-right: 20px;
  }
  /* хуйня с галочкой */
  .check{
    position: absolute;
    right: 20px;
    width: 45px;
    height: 45px;
  }
  
  .target p{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
  }
  /* создание проекта - ебучая инфа сверху */
  .cr-task-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    height: 240px;
    text-align: left;
  }
  .cr-task-info p{
    font-size: 14px;
    padding-left: 20px;
  }

  .cr-task-info input{
   width: 590px;
   height: 30px;
   background-color: #A7AAE8;
   border-radius: 5px;
   padding-left: 10px;
   font-size: 16px;
   font-weight: 500;
  }

  input::placeholder{
    color: #fafafa;
  }
  input:focus{
    background-color: #fafafa;
    color: #212529;
  }
  .date-money{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
    height: 70px;
    flex-direction: row;
  }

  .date-money input{
    width: 270px;
  }

  .cr-btn input{
    outline: none;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
  }

  .proj-in{
    width: 590px;
    height: 30px;
    background-color: #A7AAE8;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
   }

  .proj-in::placeholder{
    color: #fafafa;
  }
  .proj-in:focus{
    background-color: #fafafa;
    color: #212529;
  }
  
  .cr-btn input:hover{
    background-color: #D9AA63;
    color: #ffffff;
  }

  #create{

  }

  #create2{
    width: 500px;
    height: 500px;
  }
  
  .cr2-f{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 500px;
  }

  .cr-fold{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  }

  .cr-proj-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    width: 600px;
    height: 150px;
    margin-bottom: 20px;
    text-align: left;
  }

  .cr-proj-info p{
    font-size: 14px;
    padding-left: 20px;
  }
  .cr-proj-info input{
   width: 590px;
   height: 30px;
   background-color: #A7AAE8;
   border-radius: 5px;
   padding-left: 10px;
   font-size: 16px;
   font-weight: 500;
  }

  .btn_create{
    outline: none;
    border: none;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
  }
  
  .btn_create:hover{
    background-color: #D9AA63;
    color: #ffffff;
  }
  /* окно задача */
  .task{
    max-width: 1000px;
    height: 800px;
  padding: 18px 9px;
  border-radius: 20px;
  background: #4c317e;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  /* backdrop-filter: blur(1000px); */
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
  z-index: 38;
  text-align: center;
  left: 35px;
  }
  
  /* .myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
  } */
  
.task-up{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    height: 70px;
    padding-left: 30px;
}

.finish-task{
  position: relative;
  background: #4AA1A1;
  text-align: center;
  color: #ffff;
  cursor: pointer;
  border-radius: 15px;
  width: 200px;
  height: 50px;
}
.delete_task{
position: relative;
  background: #ea1b25;
  text-align: center;
  color: #ffff;
  cursor: pointer;
  border-radius: 15px;
  width: 200px;
  height: 50px;
}
.edit_task{
  background: #efbc19;
  text-align: center;
  color: #0000;
  cursor: pointer;
  border-radius: 15px;
  width: 200px;
  height: 50px;    
}
.chek-task{
  position: relative;
  background: #2b67c8;
  text-align: center;
  color: #ffff;
  cursor: pointer;
  border-radius: 15px;
  width: 200px;
  height: 50px;
}

.downloads{
    position: relative;
    background: #4A62A1;
    border-radius: 15px;
    text-align: center;
    color: #ffff;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.task-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 900px;
    height: 30%;
    margin-top: 25px;
    padding-left: 30px;
}

.task-name{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.task-descript{
    position: relative;
    width: 1000px;
    height: 300px;
    font-size: 20px;
    top: 10px;
    text-align: left;
    overflow: auto;
}

.task-date{
position: relative;
text-align: center;
font-size: 20px;
min-width: 100px;
color: black;
background-color: #fff;
border-radius: 5px;
top: 20px;
}

.task-money{
  position: relative;
  text-align: center;
  font-size: 20px;
  min-width: 100px;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  top: 40px;
}

.task-send-btn{
    position: relative;
    top: 50px;
}

.task-send-file{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    border: 1px solid rgba(182, 182, 182, 0.767);
    border-radius: 15px;
    text-align: center;
    color: #ffff;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-top: 5px;
    overflow: auto;
    top: 50px;
    text-align: left;
}

/* стайл чата */
.chat_name{

    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
    top: 60px;
    max-width: 1050px;
    height: 300px;
    border-radius: 15px 15px 0 0;
    background: #ffffff;
    overflow: auto;
}

.chat-massages{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
    list-style-type: none;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.chat-mass{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    height: 100%;

}

.mass-text{
    position: relative;
    width: 100%;
    height: auto;
    left: 20px;
    text-align: left;
    width: 100%;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    background-color: #c5c5c57c;
}

.mass-text div{
  text-align: left;
  width: 100%;
  color: #333;
}

.mass-ava{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #e44635;
}
/* оттправка сообщения */
.chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    max-width: 1000px;
    top: 25px;
    height: 80px;
    background: #ffff;
    border-radius: 0 0 15px 15px;
}

/* поле ввода текста */
.chat-text{
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #7781d8;
    padding-left: 10px;
}

/* кнопка отправить сообщение */
.chat-send{
    width: 20%;
    height: 50px;
    border-radius: 5px;
    background-color: #7781d8;
}

.proj-notification{
  position: absolute;
  background-color: #db3535;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  border-radius: 100%;
}