.context-menu {
    position: relative;
    background: rgba(162, 163, 216, 0.171);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    height: 90%;
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.context-menu-open {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}
.project_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
.context-menu-open ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px 12px;
    margin: 0;
    border-bottom: 1px solid #BFE2FF;
}
.context-menu-open ul li:last-child {
    border-bottom: 1px solid transparent;
}
.context-menu-open ul li:hover {
    background-color: #BFE2FF;
}

#Search{
    position: relative;
    width: 465px;
    height: 24px;
    color: white;
    background: rgba(176, 140, 204, 0.7);
    border-radius: 5px;
    margin: 10px;
}

#url{
    position: relative;
    background: rgba(150, 71, 212, 0.7);
    border-radius: 5px;
    text-align:left;
    padding-left: 10px;
}

#trigger{
    color: black;
}

/* ябучая блять клевая кнопка закрытия окна создания задачи */
.cl-btn-7 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    z-index: 1;
    cursor: pointer;
}
.cl-btn-7:before {
    content: '+';
    color: #e44635;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(153.43deg, #a622ce 0%, #CD3A29 83.33%);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: rgb(255, 255, 255);
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.create{
    display: none;
    background: rgba(162, 163, 216, 0.171);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    z-index: 1000;
    position: absolute;
    height: 500px;
    width: 500px;
    padding: 20px;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* перчик в списке */
.target{
    list-style: none;
    background-color: #c99f2d;  
    padding: 10px 15px 10px 25px;
    margin-bottom: 5px;
    height: 100px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    
}
/* список долбоебиков */
.person_list{
    position: relative;
    background-color: #190c469d;
    width: 80%;
    height: 300px;
    overflow: auto;
    margin-left:10%;
}
/* свойства долбоебика */
.person{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    background-color: #572dc9;  
    padding: 10px 15px 10px 25px;
    margin-bottom: 5px;
    height: 60px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
/* аватарка долбоебика */
.person_ava{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 20px;
}
/* ник долбоебика */
.person_name{
    position: relative;
    margin-right: 20px;
}
/* хуйня с галочкой */
.check{
    position: absolute;
    right: 20px;
    width: 45px;
    height: 45px;
}

.target p{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}
/* создание проекта - ебучая инфа сверху */
.cr_task_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cr_task_info input{
    margin-bottom: 10px;
}
.cell{
    display: flex; /* Отображать как строчный элемент */
    list-style-type: none; /* Убираем маркеры */
    position: relative;
    float: left;
    margin-left: 5%;
    margin-right: 20px;
    margin-top: 5%;
    top: 20%;
    background: rgba(113, 114, 145, 0.137);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    z-index: 1000;
}

.project{ /* бэкраунд блокам project */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.people_logo{
    position: relative;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
/*размещения каритинок снизу */
.low{
    background-color: #230c30;
    border-radius: 0px 0px 13px 13px;
    position: absolute;
    padding-left: 10px;
    bottom: 0;
    width: 97%;;
    height: 60px;
}

.name{/*имя проекта*/
    background: linear-gradient(180deg, rgba(71, 33, 133, 0.8) 49.22%, rgba(71, 33, 133, 0) 100%);
    border-radius: 15px 15px 0px 0px;   
}

.hidden{/*всплывающая подсказка*/
    display: none;
    position: absolute;
    top: 50%;
    width: 265px;
    height: auto;
    right: 0;
    background-color: #230c30;
    color: #ececec;
    padding: 10px;
    padding-top: 50px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
    z-index: -1;
    border-radius: 0px 0px 13px 13px;
}

.hidden:hover{
    display: block;
}

.hidden p{
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    /* height: 200px;
    overflow: auto; */
}

.descover{
    position: relative;
    background: #7781d8;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    top: 10px;
    background-image: url("../description.svg");
}
/* Появление скрытого элемента при наведении */
.descover:hover + .hidden{
    display: block;
}


.list-j{
    display: none;
}

.j-list{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: -60px;
    width: 285px;
    height: auto;
    right: 10px;
    background-color: #230c30;
    z-index: -3;
    border-radius: 0px 0px 13px 13px;
}
.j-list li{
    list-style-type: none; /* Убираем маркеры */
    width: 45px;
    height: 45px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.people:hover + .list-j{
    display: block;
}

.list-j:hover{
    display: block;
}

/*показовать только 5 элементов в списке с людьми*/
.j-list li:nth-child(n+5){
    display: none;
}

.j-list.open li:nth-child(n+5) {
    display: list-item;
}

.people{
    position: relative;
    background: #7781d8;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    left: 50px;
    bottom: 35px;
    background-image: url("../perchiki.svg");
}

/* всплывающая подсказка*/
#tiger{
 position: relative;
 display: inline-block;
 z-index: 1001;
}

#tiger:hover:after {
content: attr(data-name);
position: absolute;
left: 0;
bottom: 0;
background: rgba(5,13,156,.55);
color: #fff;
text-align: center;
font-family: cursive;
font-size: 14px;
padding: 3px 0;
width: 100%;
}

.people_plus{
    position: absolute;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    left: 110px;
    bottom: 5px;
    background-image: url("../add-perchik.svg");
    cursor: pointer;
}

.backgr{
    position: absolute;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    left: 160px;
    bottom: 5px;
    background-image: url("../add-bg.svg");
    cursor: pointer;
}
.foto{
    left: 40%;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #c8d2db;
    background-image: url(/static/x_06eb1977.jpg);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    color: #1f3c44;
}

.btn_create{
    margin-top: 10px;
}
#perchik_search{
    margin-bottom: 10px;
}

.project_foto{
    width: 100%;
    height: 100%;
}

.task{
    width: 298px; height: 218px;
  padding: 18px 9px;
  border-radius: 4px;
  background: blue;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  z-index: 38;
  text-align: center;
}

.myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
  }