.context-menu {
    position: relative;
    background: rgba(83, 84, 114, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    height: 90%;
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.context-menu-open {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}
.context-menu-open ul {
    padding: 0;
    margin: 0;
}
.context-menu-open ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px 12px;
    margin: 0;
    border-bottom: 1px solid #BFE2FF;
}
.context-menu-open ul li:last-child {
    border-bottom: 1px solid transparent;
}
.context-menu-open ul li:hover {
    background-color: #BFE2FF;
}

#Search{
    position: relative;
    width: 465px;
    height: 24px;
    top: 10%;
    color: white;
    background: rgba(150, 71, 212, 0.7);
    border-radius: 12px;
    margin: 10px;
}

#url{
    position: relative;
    background: rgba(150, 71, 212, 0.7);
    border-radius: 12px;
    text-align:left;
}

#trigger{
    color: black;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#create{
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* перчик в списке */
.target{
    list-style: none;
    background-color: #3b1f68d0;  
    padding: 10px 15px 10px 25px;
    margin-bottom: 5px;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    
}
  
.target p{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.block{
    display: inline; /* Отображать как строчный элемент */
    list-style-type: none; /* Убираем маркеры */
    position: relative;
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    top: 20%;
    background: rgba(113, 114, 145, 0.137);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 15px;
}

.project{ /* бэкраунд блокам project */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.people_logo{
    border-radius: 15px;
    width: 29px;
    height: 29px;
}

.low{/*размещения каритинок снизу */
    background: linear-gradient(180deg, rgba(71, 33, 133, 0) 0%, rgba(71, 33, 133, 0.8) 65.1%);
    border-radius: 0px 0px 15px 15px;
    position:absolute;
    bottom:0;
    width: 100%;
}

.name{/*имя проекта*/
    background: linear-gradient(180deg, rgba(71, 33, 133, 0.8) 49.22%, rgba(71, 33, 133, 0) 100%);
    border-radius: 15px 15px 0px 0px;   
}

.hidden{/*всплывающая подсказка*/
    display: none;
    position: absolute;
    background-color: #fff;
    color: #3aaeda;
    padding: 5px;
    text-align: center;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
    font-size: 12px;
}
/* Появление скрытого элемента при наведении */
.project:hover + .hidden{
    display: block;
}
.j-list li{
    list-style-type: none; /* Убираем маркеры */
    display: inline; /* Отображать как строчный элемент */
}
/*показовать только 5 элементов в списке с людьми*/
.j-list li:nth-child(n+5){
    display: none;
}

.j-list.open li:nth-child(n+5) {
    display: list-item;
}

.people{
    background: #5343B7;
    border-radius: 15px;
    width: 29px;
    height: 29px;
}