.all_money{
    font-size: 32px;
    padding-bottom: 30px;
}  
    
    
    .lins{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(144, 82, 206, 0.35);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        height: 100px;

}

.zp_info p{
    text-align: left;
    padding-top: 2%;
}

.zp_info span{
    font-size: 20px;
    font-weight: 600;
}

.money{

    display: block;
    padding-left: 50%;
    font-size: 32px;
    font-weight: 700;
}
    h1{
       margin-top: 20px;
    }
    .tabs {
        position: fixed;
        border-radius: 15px;
        margin:5% 25% 0 25%;
        width: 50%;
        height: 100%; 
    }

    .tabs>input { display: none; }
        
.zp {
    background: rgba(83, 84, 114, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    height: 100%;
    display: none;
    padding: 12px;
}


.period {
    display: inline-block;
    padding: 7px;

    text-align: center;
    color: white;
    cursor: pointer;
}
.ch:checked + .period {
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    /* border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF; */
    background: rgba(83, 84, 114, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 10px 10px 0 0 ;
    width: 150px;
    text-decoration: none;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4,
#tab_54checked ~ #txt_5 { display: block; } 
