{% extends 'base.html' %}

{% block title %}Админ панель {% endblock %}

{% block body %}
<h1>Пока в разработке</h1>
<a href = "index">Вход</a>
<a href = "register">Регистрация</a>
<a href = "cabinet">Личный кабинет</a>
<a href = "admin">Кабинет админа</a>
  <h1>Тут отображаем таблицы баз данных</h1>
  <ul>
{% for u in list %}
<li>id: {{u.id}}, email: {{u.email}}, password: {{u.password_hash}}, Access: {{u.who}}</p>
         <ul>
         <li>Имя: {{u.pr.name}}</li>
         <li>Дата рождения: {{u.pr.birthDAy}}</li>
         <li>Серия и номер паспорта: {{u.pr.passport}}</li>
           <li>Дата выдача: {{u.pr.passportData}}</li>
           <li>Кем выдан: {{u.pr.passportBy}}</li>
           <li>Код подразделения: {{u.pr.passportCod}}</li>
           <li>Никнейм: {{u.pr.nickname}}</li>
           <li>Ссылка на ВК: {{u.pr.link_vk}}</li>
           <li>ИНН: {{u.pr.inn}}</li>
           <li>Счёт: {{u.pr.bankAccount}}</li>
           <li>Реквизиты банка:{{u.pr.bank_details}}</li>
           <li>Имя банка: {{u.pr.bankName}}</li>
           <li>Номер телефона: {{u.pr.phone_number}}</li>
           <li>Адрес: {{u.pr.address}} <p></p></li>
         </ul>
</li>
{% endfor %}
</ul>
  {% for u in projects %}
         <li>ID проекта: {{u.id}}</li>
         <li>Имя проекта: {{u.projectName}}</li>
         <li>Описание проекта: {{u.descProject}}</li>
           <li>Ссылка на проект: {{u.linkDisk}} <p></p></li>
{% endfor %}
</ul>
  {% for u in tasks %}
           <li>ID: {{u.id}}</li>
         <li>ID сотрудника: {{u.idUser}}</li>
         <li>ID проекта: {{u.idProject}}</li>
         <li>Наименование задачи: {{u.nameTask}}</li>
           <li>Описание задачи: {{u.descTask}}</li>
           <li>Время на задачу: {{u.timeTask}}</li>
           <li>Выплата за выполнение: {{u.manyTask}}</li>
           <li>Статус выполнения: {{u.statusСompleted}}</li>
           <li>Получен: {{u.receipt}}</li>
           <li>Ссылка на задачу: {{u.linkDisk}} <p></p></li>
</li>
{% endfor %}
</ul>
{% for u in documents %}
           <li>ID: {{u.id}}</li>
         <li>Имя документа: {{u.name}}</li>
         <li>Ссылка на документ: {{u.link}}</li>
</li>
{% endfor %}
{% endblock %}