<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for ('static', filename='icons/logo.ico')}}" type="image/x-icon">
</head>
<body align="center">

    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <div class="logo"> 
             <a href="/cabinet">
                 <img class="nav_avatar" src="static/x_06eb1977.jpg" alt=""> <!-- аватарка -->
                </a> 
                <div class="logoinfo">
                <a href="/cabinet"> <p class="fio">{{current_user.pr.name}}</p> </a> <!-- фио -->
                <p class="nik"> {{current_user.pr.nickname}} </p> <!-- ник -->
            </div>
        </div>
        <ul> 
    {% if current_user.who == 1 %}
         
            <li>
                <a href="/cabinet">Личный кабинет</a>
            </li>
            <li><a href="/my_tasks">Мои задачи</a> </li>
            <li><a href="/my_projects">Мои проекты</a> </li>
            <li><a href="/my_documents">Мои документы</a> </li>
            <li><a href="/salary">Моя зарплата</a> </li>
            <li><a href="/logout">Выход</a> </li>
   
          
    {% endif %}
    
    {% if current_user.who == 2 %} 
                
                <li>
                    <a href="/cabinet">Личный кабинет</a> </li>
                <li >
                    <a href="/my_tasks">
                    <!--<img class="nav_icon" src="static/nav/Мои задачи.svg" alt="">-->
                    Мои задачи
                    </a> 
                </li>
                <li><a href="/employeers"> Список сотрудников </a> </li>
                <li><a href="/my_documents">Мои документы</a> </li>
                <li><a href="/create_contract"> Создание договоров </a> </li>
                <li><a href="/salary">Зарплата</a> </li>
                <!--<li><a href="complete_tasks"> Список выполненных задач по людям </a>-->

                <li><a href="/logout">Выход</a> </li>
        
    {% endif %}

    {% if current_user.who == 0 %}
 
                    <li><a href="/cabinet">Личный кабинет</a> </li>
                    <li><a href="/my_tasks">Мои задачи</a> </li>
                    <li><a href="/my_documents">Мои документы</a> </li>
                    <li><a href="/salary">Моя зарплата</a> </li>
                    <li><a href="/logout">Выход</a> </li>
    {% endif %}
</ul>
</nav>

    {% block body %} 

    {% endblock %}

</body>
</html>