{% extends 'base.html' %}

{% block title %}
<h1>Смена пароля</h1>
{% endblock %}

{% block body %}
<!-- Форма для изменения данных -->
<form action="" method="post">
    {{ form.hidden_tag() }}
<p>
    {{ form.name.label() }}
    {{ form.name() }}
</p>
<p>
    {{ form.nickname.label() }}
    {{ form.nickname() }}
</p>
<p>
    {{ form.link_vk.label() }}
    {{ form.link_vk() }}
</p>
<p>
    {{ form.birthDAy.label() }}
    {{ form.birthDAy() }}
</p>
<p>
    {{ form.passport.label() }}
    {{ form.passport() }}
</p>
<p>
    {{ form.passportData.label() }}
    {{ form.passportData() }}
</p>
<p>
    {{ form.passportBy.label() }}
    {{ form.passportBy() }}
</p>
<p>
    {{ form.passportCod.label() }}
    {{ form.passportCod() }}
</p>
<p>
    {{ form.inn.label()}}
    {{ form.inn()}}
</p>
<p>
    {{ form.bank_details.label() }}
    {{ form.bank_details()}}
</p>
<p>
    {{ form.bankName.label() }}
    {{ form.bankName()}}
</p>
<p>
    {{ form.phone_number.label() }}
    {{ form.phone_number()}}
</p>
<p>
    {{ form.submit() }}
</p>

</form>
<a href ="cabinet">Перейти в кабинет без изменения</a>
{% endblock %}