{% extends 'base.html' %}

{% block title %}
Создание договора
{% endblock %}

{% block body %}

<!--<form action="" method="post">
    <p>
   <select name="human">
          <option selected>Выбрать человека</option>
       {% for u in list %}
       <option value="{{u.id}}">{{u.pr.name}}</option>
       {% endfor %}
</select>

    <p><input type="submit">
</form>-->


    <script>
        function functionSearch() {
          var input = document.getElementById("Search");
          var filter = input.value.toLowerCase();
          var nodes = document.getElementsByClassName('target');
    
      for (i = 0; i < nodes.length; i++) {
        if (nodes[i].innerText.toLowerCase().includes(filter)) {
          nodes[i].style.display = "block";
        } else {
          nodes[i].style.display = "none";
        }
      }
    }
    </script>

 <style>

 input[type=checkbox] { /*убираем тег чекбокс*/
    display: none;
 }
 
 input:checked + label {/* изменение выбранного блока */
    color: purple;
    animation: current-anim-name;
    animation-duration: 2s;
    background-color: #6288df;

 }
 input:checked + label>div > .perchik1{
  background-color: #6288df;
  }


</style>
      
    <ul class="perchiki">
    <input type="text" id="Search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
    
    <!--<input id="apple" type="checkbox" name="apple" />
    <label for="apple">Apple</label>-->
    <p color = "red"> {{error}}</p>
    <form method="post">
      <p><input type="submit" value="Создать договоры" ></p>
      <p> C <input type="date" name="start" required> до <input type="date" name = "end" required></p>
    {% for u in list %}

    <input id="{{u.id}}" value="{{u.id}}" type="checkbox" name="{{u.id}}"/>
    <label for="{{u.id}}">
    <div class = "target" for="{{u.id}}">
        <li class="perchik1" id = "{{u.id}}">
            <div class="peravatar"> <img src="{{ url_for ('static', filename='x_06eb1977.jpg')}}"> </div> <!-- автарка-->
            <div class="indicator" >
                <p class="n">99</p>        
            </div>
                <div class="nikperchika">
                    <!--<input type="checkbox" value="{{u.id}}">-->
                    <!--<p>Id = {{u.id}}</p>-->
                    <p>Почта: {{u.email}}</p>
                    <h3><p class="nik"> {{u.pr.name}}</p></h3>
                </div>
        </li>
    </div>
  </label>
    {% endfor %}
    </ul>
</form>
{% endblock %}