{% extends 'base.html' %}

{% block title %}
Сотрудники
{% endblock %}

{% block body %}
  <!--  <input class="search" type="text"/> -->
<script>
    function functionSearch() {
      var input = document.getElementById("Search");
      var filter = input.value.toLowerCase();
      var nodes = document.getElementsByClassName('target');

  for (i = 0; i < nodes.length; i++) {
    if (nodes[i].innerText.toLowerCase().includes(filter)) {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}
</script>
  
<ul class="perchiki">
<input type="text" id="Search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
{% for u in list %}
<div class = "target">
    <li class="perchik1">
        <div class="peravatar"> <img src="{{ url_for ('static', filename='x_06eb1977.jpg')}}"> </div> <!-- автарка-->
        <div class="indicator" >
            <p class="n">99</p>        
        </div>
            <div class="nikperchika">
                <!--<p>Id = {{u.id}}</p>-->
                <p>Почта: {{u.email}}</p>
                <h3><p class="nik"> {{u.pr.name}}</p></h3>
                <p class="post"> <a href="/completed_tasks/{{u.id}}/"> перейти для редактирования профиля</a></p>
            </div>
    </li>
</div>
{% endfor %}
</ul>
{% endblock %}