{% extends 'base.html' %}

{% block title %}
Мои проекты
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/my_projects.css')}}">
<script>
  i = { Task: "Task", idProject:"",id_folder:"" };
        function functionSearch() {
          var input = document.getElementById("Search");
          var filter = input.value.toLowerCase();
          var nodes = document.getElementsByClassName('target');
    
      for (i = 0; i < nodes.length; i++) {
        if (nodes[i].innerText.toLowerCase().includes(filter)) {
          nodes[i].style.display = "block";
        } else {
          nodes[i].style.display = "none";
        }
      }
    }
    </script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type='text/javascript'>
    //открытие блоки с созданием задачь
    $(document).ready(function() { 
      $("A#trigger").toggle(function() { 
        // Отображаем скрытый блок 
        $("DIV#create").fadeIn(); // fadeIn - плавное появление
        return false; // не производить переход по ссылке
      },  
      function() { 
        // Скрываем блок 
        $("DIV#create").fadeOut(); // fadeOut - плавное исчезновение
        return false; // не производить переход по ссылке
      }); // end of toggle() 
    }); // end of ready() 

    //открытие блока с созданием папки
    $(document).ready(function() { 
      $("A#trigger1").toggle(function() { 
        // Отображаем скрытый блок 
        $("DIV#create1").fadeIn(); // fadeIn - плавное появление
        return false; // не производить переход по ссылке
      },  
      function() { 
        // Скрываем блок 
        $("DIV#create1").fadeOut(); // fadeOut - плавное исчезновение 
        return false; // не производить переход по ссылке
      }); // end of toggle() 
    }); // end of ready() 

    // скрипт поиска
    function functionSearch() {
      var input = document.getElementById("Search");
      var filter = input.value.toLowerCase();
      var nodes = document.getElementsByClassName('target');
    
  for (i = 0; i < nodes.length; i++) {
    if (nodes[i].innerText.toLowerCase().includes(filter)) {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}


//откраваем блок
$(document).ready(function(){
  var clickIdEnd;
    $(".side-button-1-wr").on('click', function(){
            $(".side-panel").css('display','block');
            var clickId = this.id;
            i.idProject = clickId;
            $(".proj").attr("id", clickId);

            if ("#"+clickId == "#"+clickId){
              $("#"+clickId).css("backgroundColor","#5E4DC1")
              $(".id").val(clickId);
              $("")

              $('.folds').each(function (index, element) {
                //console.log('Индекс элемента div: ' + index + '; id элемента = ' + $(element).attr('id'));
                if ($(element).attr('id') == "folds" + clickId){
                  $(".folds#folds" + clickId).css('display','block');
                }
                if ($(element).attr('id') != "folds" + clickId){
                  $(".folds#folds" + clickIdEnd).css('display','none');
                  }
                });
            }
            

            if("#"+clickIdEnd != "#"+clickId){
              $("#" + clickIdEnd).css("backgroundColor","WHITE")
            }
            clickIdEnd = this.id; 
            //закрываем блок
          $(document).ready(function(){
            $("#close").on('click', function(){
                $(".side-panel").css('display','none');
                $(".dd").css('display','none');
                $("#" + clickIdEnd).css("backgroundColor","WHITE")
        });
    });
  
        });
      });



//откраваем блок
$(document).ready(function(){
    $(".fold").on('click', function(){
            $(".dd").css('display','block');
            $("#open").css('display','block');
        });
});



//открытие блок для создания задачи
$(document).ready(function() { 
  $("A#open").toggle(function() { 
  // Отображаем скрытый блок 
  $(".create_task").fadeIn(); // fadeIn - плавное появление
  $('.pr'+ $('.proj').attr('id')).css('display','block');
    return false; // не производить переход по ссылке
      },  
  function() { 
        // Скрываем блок 
        $(".create_task").fadeOut(); // fadeOut - плавное исчезновение
        $('.pr'+ $('.proj').attr('id')).css('display','none');
        return false; // не производить переход по ссылке
      }); 
    }); 


  $(document).ready(function(){
  var clickIdEnd;
  //$(".folde#f1").css('backgroundColor','#5E4DC1');
    $(".fold").on('click', function(){
      var clickId = this.id;
      //console.log(clickId);
      //console.log(clickIdEnd);
      if (clickId == clickId){
        $(".folde#f"+ clickId).css("backgroundColor","#5E4DC1");
        $(".process"+ clickId).css('display','block');
      };
      if (clickId != clickIdEnd){
        $(".folde#f"+ clickIdEnd).css("backgroundColor","WHITE");
        $(".process"+ clickIdEnd).css('display','none');
      };
      i.id_folder =  clickId;
      clickIdEnd = this.id; 
    }); 
  });


  // сбор информации и отправка post запросом
  $(document).ready(function(){
    $("#qery").on('click', function(){
              $.post("/my_projects", i);// отпркавка post запроса
            });
            
    $(".dropbtn").mouseenter(function() {// навели курсор на объект (не учитываются переходы внутри элемента)
      clickId = this.id;
      $(".people#p" + clickId).css('display','block');
        });
    $(".dropbtn").mouseleave(function(){// отвели курсор с объекта (не учитываются переходы внутри элемента)                 
      clickId = this.id;  
      $(".people#p" + clickId).css('display','none');     
        }); 

    });
 
    
</script>

<!-- панель "проекты" -->
<div class = "leftBody"> 
  <p class="panel_name">Проекты</p>
  <a href='#' id='trigger'>Создать проект</a> <!-- Всё происходит при нажатии на ссылку -->
  {% for u in projects %}
  <div class="side-button-1-wr" id ="{{u.id}}">
    <label class="side-button-1" for="side-checkbox">
      <div class="project">
       
        <!--<li>ID проекта: {{u.id}}</li>-->
        <li > <div> <span class="punkt_name">Имя проекта:</span> <br> <p class="cont_n"> {{u.projectName}}</p></div></li>
        <li>  <div> <span class="punkt_name">Описание проекта:</span> <br> <p class="cont_d"> {{u.descProject}}</p></div></li>
        <li>  <div> <span class="punkt_name">Ссылка на проект:</span> <br> <p class="cont_s">{{u.linkDisk}}</p></div></li>
        <li>Люди в проекте: 
          <div class="dropdown">
            <p class="dropbtn" id ="{{u.id}}">открыть</p>
            <div class="dropdown-content">
              {% for u in user_project %}
              <p class = "people" id = "p{{u.Project_id}}"  style='display: none;'>{{u.up.name}}</p>
              {% endfor %}
            </div>
          </div>
        </li><br>
      
      </div>
    </label>
  </div>
    {% endfor %}
    <div>
      {{error}}
    </div>
</div>

     <div id = "create" style="display: none;">
  <form action="" method="post">
    <h2 style="color:white">Создание проекта</h2>
    <input id="name_project" type="text" name="projectName" placeholder="Название проекта" required ><br><br>
    <input id="description" type="text" name="descProject" placeholder="Описание проекта" required><br><br>
    <h3>Выбрать человека</h3>
    <input type="text" id="perchik_search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
  
    <div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
    <div class="person_list">
    <ul>
      {% for j in list %}
    <li class="target"><p>{{j.pr.name}}<input class="check" type="checkbox" value="id_sel" name = "{{j.id}}" ></p></li>
    {% endfor %}
    </ul> 
  </div>
</div>

    <input class="btn_create" type="submit" value="Создать проект">
  </form>
<!---<a href='#' id='trigger'>  <div class="close_tab"></div> </a> -->
</div>

<div  class="side-panel" style="display: none;">
  <p id = "close"> &times;</p> 
  <p class="panel_name">Папки</p> 
  <a href='#' id='trigger1'>Создать папку</a> 
    
  <div id = "create1">
    <form id="new_folder" action="" method="post">
      <input class = "id" type="text" name="id" value = "-1" style='display: none;'>
      <input id="fold_name" type="text" name="folderName" placeholder="Название папки">
      <input type="submit" value="Создать" id = "submit">
    </form> 
     <!-- <a href='#' id='open'> <div id="close_f">  </div>  </a>  -->

</div>
  {% for u in folders %}
  <div class = "folds" id = "folds{{u.id_progect}}" style="display: none;">
    <div class = "folde" id = "f{{u.id}}">
    <h2 class = "fold" id = "{{u.id}}">{{u.name}}</h2>
    </div>
  </div>
  {% endfor %}

</div>
<div class="dd-position">
  <a  href="#" id ="open">создать задачу </a><br>
<div class="dd"> 
  <ol class="kanban progress">
    
    <h2><i class="material-icons"></i>В процессе</h2>
    {% for u in tasks %}
    <div class = "process{{u.id_folder}}">
       {% if u.statusСompleted == "Uncomplete" %}
       {% if u.timeTask != today %}
        <li class="dd-item" data-id="5">
        <h3 class="title dd-handle"><i class=" material-icons "></i>{{u.nameTask}}
          <br> Выполняет: 
          {% for f in list %}
            {%if u.idUser == f.id%}
              {{f.pr.name}} 
            {% endif %}
          {% endfor %}  
          </h3>
          <div class="text" >{{u.descTask}}</div>
      </li>
      {% endif %}
      {% endif %}
    </div>
    {% endfor %}
    
  </ol>
  
    
  <ol class="kanban  Done">
    <h2>Сделано</h2>
    {% for u in tasks %}
    <div class = "process{{u.id_folder}}">
        {% if u.statusСompleted == "Complete" %}
          <li class="dd-item" data-id="5">
          <h3 class="title dd-handle"><i class=" material-icons "></i>{{u.nameTask}}</h3>
            <div class="text">{{u.descTask}} </div><div class="actions">
            <i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i></div>
        </li>
      {% endif %}
    </div>
    {% endfor %}
  </ol>
  
    
  <ol class="kanban Gone">
    <h2><i class="material-icons"></i>Дедлайн</h2>
    {% for u in tasks %}
    <div class = "process{{u.id_folder}}">
       {% if u.statusСompleted == "Uncomplete" %}
       {% if u.timeTask == today %}
        <li class="dd-item" data-id="5">
        <h3 class="title dd-handle"><i class=" material-icons "></i>{{u.nameTask}}
          <br> Выполняет: 
          {% for f in list %}
            {%if u.idUser == f.id%}
              {{f.pr.name}} 
            {% endif %}
          {% endfor %}  
          </h3>
          <div class="text" >{{u.descTask}}</div>
      </li>
      {% endif %}
      {% endif %}
    </div>
    {% endfor %}
  </ol>
</div>
</div>

<div  class="create_task" style='display: none;'>

<form action="" method="post">
  <br>
  <p>{{form.nameTask.label}}
  {{form.nameTask}}</p><br>
  <p>{{form.descTask.label}}
  {{form.descTask}}</p><br>
  <p>{{form.timeTask.label}}
  {{form.timeTask}}</p><br>
  <p>{{form.manyTask.label}}
  {{form.manyTask}}</p><br>
  <input type="text" id="Search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
    <div class="target">
      <div class ="proj" id = "-1"></div>
      {% for u in user_project %}
        <input type="checkbox" value="id_sel" name = "{{u.User_id}}" ><p class = "pr{{u.Project_id}}" style='display: none;'>{{u.up.name}}</p>
      {% endfor %}
    </div>
    <input id ="qery" type="submit" value="Создать задачу">
    </form>

</div>
    <!-- <a href='#' id='open'> <div class="close_tab">    </div></a> -->

{% endblock %}