{% extends 'base.html' %}

{% block title %}
Мои проекты
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/my_projects.css')}}">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type='text/javascript'>
    //открытие блоки с созданием задачь
    $(document).ready(function() { 
      $("A#trigger").toggle(function() { 
        // Отображаем скрытый блок 
        $("DIV#create").fadeIn(); // fadeIn - плавное появление
        return false; // не производить переход по ссылке
      },  
      function() { 
        // Скрываем блок 
        $("DIV#create").fadeOut(); // fadeOut - плавное исчезновение
        return false; // не производить переход по ссылке
      }); // end of toggle() 
    }); // end of ready() 

    //открытие блока с созданием папки
    $(document).ready(function() { 
      $("A#trigger1").toggle(function() { 
        // Отображаем скрытый блок 
        $("DIV#create1").fadeIn(); // fadeIn - плавное появление
        return false; // не производить переход по ссылке
      },  
      function() { 
        // Скрываем блок 
        $("DIV#create1").fadeOut(); // fadeOut - плавное исчезновение 
        return false; // не производить переход по ссылке
      }); // end of toggle() 
    }); // end of ready() 

    // скрипт поиска
    function functionSearch() {
      var input = document.getElementById("Search");
      var filter = input.value.toLowerCase();
      var nodes = document.getElementsByClassName('target');
    
  for (i = 0; i < nodes.length; i++) {
    if (nodes[i].innerText.toLowerCase().includes(filter)) {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}


//откраваем блок
$(document).ready(function(){
  var clickIdEnd;
    $(".side-button-1-wr").on('click', function(){
            $(".side-panel").css('display','block');
            var clickId = this.id;

            if ("#"+clickId == "#"+clickId){
              $("#"+clickId).css("backgroundColor","#5E4DC1")
              $(".id").val(clickId);
              $.each($(".folds"),function(index,element){
                //console.log('Индекс элемента div: ' + index + '; id элемента = ' + $(element).attr('id'));
                if ($(element).attr('id') == clickId){
                  $(".folds" + "#" + $(element).attr('id')).css('display','block');
                  console.log(".folds" + "#" + $(element).attr('id'));
                } else {
                  $(".folds" + "#" + $(element).attr('id')).css('display','none');
                }
              })
            }

            if("#"+clickIdEnd != "#"+clickId){
              $("#" + clickIdEnd).css("backgroundColor","WHITE")
            }
            clickIdEnd = this.id;   
        });
      });

  $(document).ready(function(){
     $.each($(".folds"),function(index,element){
      console.log('Индекс элемента div: ' + index + '; id элемента = ' + $(element).attr('id'))

      })
});

//закрываем блок
$(document).ready(function(){
    $("#close").on('click', function(){
            $(".side-panel").css('display','none');
        });
});

//откраваем блок
$(document).ready(function(){
  var clickIdEnd;
    $(".fold").on('click', function(){
            $(".dd").css('display','block');
            //var clickId = this.id;
           // clickIdEnd = this.id;   
        });
});



</script>



<div class = "leftBody"> 
  <h1>Проекты</h1> <br><br><br><br><br>
  <a href='#' id='trigger'>Создать проект</a> <!-- Всё происходит при нажатии на ссылку -->
  {% for u in projects %}
  <div class="side-button-1-wr" id ="{{u.id}}">
    <label class="side-button-1" for="side-checkbox">
      <div class="project">
        <p>
        <!--<li>ID проекта: {{u.id}}</li>-->
        <li class = "nameProjekt">Имя проекта: {{u.projectName}}</li>
        <li>Описание проекта: {{u.descProject}}</li>
        <li>Ссылка на проект: {{u.linkDisk}}</li>
        <li>Люди в проекте: <br></li>
      </p>
      </div>
    </label>
  </div>
    {% endfor %}
    <div>
      {{error}}
    </div>
</div>

<div id = "create">
  <form action="" method="post">
    <h2 style="color:white">Создание проекта</h2><br>
    <input type="text" name="projectName" placeholder="Название проекта" required ><br><br>
    <input type="text" name="descProject" placeholder="Описание проекта" required><br><br>
    <h3>Выбрать человека</h3><br><br>
    <input type="text" id="Search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
    {% for j in list %} 
    <div class="target"><p><input type="checkbox" value="id_sel" name = "{{j.id}}" >{{j.pr.name}}</p></div>
    {% endfor %}
    <input type="submit" value="Создать проект">
  </form>

</div>

<div  class="side-panel">
  <span id = "close" onclick="this.parentElement.style.display='none';">&times;</span> 
  <h1>Папки c задачам:</h1> <br><br><br><br><br>
  <a href='#' id='trigger1'>Создать папку</a>
    
  <div id = "create1"  style='display: none;'>
    <form action="" method="post">
      <input class = "id" type="text" name="id" value = "-1">
      <input  type="text" name="folderName" placeholder="Название папки">
      <input type="submit" value="Создать папку">
    </form>
  </div>

  {% for u in folders %}
  <div class = "folds" id = "{{u.id_progect}}">
    <h2 class = "fold">{{u.name}}</h2>
  </div>
  {% endfor %}
</div>

<div class="dd-position">
<div class="dd"> <!-- надо гормально разместить -->
  <ol class="kanban progress">
    <h2><i class="material-icons"></i>В процессе</h2>
    {% for u in tasks %}
    {% if current_user.id == u.idUser %}
    
       {% if u.statusСompleted == "Uncomplete" %}
       {%if u.timeTask != today %}
        <li class="dd-item" data-id="5">
        <h3 class="title dd-handle"><i class=" material-icons "></i>{{u.nameTask}}</h3>
          <div class="text" contenteditable="true">{{u.descTask}}</div>
          <form method="post"><div class="actions">
            <button class="addbutt" value="{{u.id}}" name="task"><i class="material-icons"></i> Сдать задачу</button>
            </div></form>
      </li>
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
    
  </ol>
  
    
  <ol class="kanban  Done">
    <h2><i class="material-icons"></i>Сделано</h2>
    {% for u in tasks %}
      {% if current_user.id == u.idUser %}
        {% if u.statusСompleted == "Complete" %}
          <li class="dd-item" data-id="5">
          <h3 class="title dd-handle"><i class=" material-icons "></i>{{u.nameTask}}</h3>
            <div class="text" contenteditable="true">{{u.descTask}} </div><div class="actions">
            <i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i></div>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>
  
    
  <ol class="kanban Gone">
    <h2><i class="material-icons"></i>Дедлайн</h2>
    {% for u in tasks %}
      {% if current_user.id == u.idUser %}
        {%if u.statusСompleted == "Uncomplete" %} 
        {%if u.timeTask == today %}
          <li class="dd-item" data-id="5">
          <h3 class="title dd-handle"><i class=" material-icons "></i>{{u.nameTask}}</h3>
            <div class="text" contenteditable="true">{{u.descTask}} </div>
            <form method="post"><div class="actions">
          <button class="addbutt" value="{{u.id}}" name="task"><i class="material-icons"></i> Сдать задачу</button>
          </div></form>
        </li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
  </ol>
</div>
</div>
{% endblock %}