{% extends 'base.html' %}

{% block title %}
Мои задачи
{% endblock %}

{% block body %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <!-- Скрипт плавного открытия и закрытия блока -->
  <script type='text/javascript'> 
    $(document).ready(function() { 
      $("A#trigger").toggle(function() { 
        // Отображаем скрытый блок 
        $("DIV#box").fadeIn(); // fadeIn - плавное появление
        return false; // не производить переход по ссылке
      },  
      function() { 
        // Скрываем блок 
        $("DIV#box").fadeOut(); // fadeOut - плавное исчезновение 
        return false; // не производить переход по ссылке
      }); // end of toggle() 
    }); // end of ready() 
  </script>

<!--<h1>Задачи</h1>-->
<div id="p1" class="mdl-progress mdl-js-progress"></div>
<script>
  document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
    this.MaterialProgress.setProgress(44);
  });
</script><div class="kanban__title">
      <h1><i class="material-icons"></i></h1></div>
<div class="dd">

 
  <ol class="kanban progress">
    <h2><i class="material-icons"></i>В процессе</h2>
    
      <li class="dd-item" data-id="5">
      <h3 class="title dd-handle"><i class=" material-icons "></i>Нарисовать токийского гуля</h3>
        <div class="text" contenteditable="true">Нарисовать Канеки Кена в маске в стиле 90-ых</div><div class="actions">
       
        <div class="actions">
          <button class="addbutt"><i class="material-icons"></i>Сдать задачу</button>
        </div>
        <li class="dd-item" data-id="5">
          <h3 class="title dd-handle"><i class=" material-icons "></i>Нарисовать Владимира</h3>
            <div class="text" contenteditable="true">Нарисовать Владимира из России 23 то есть черта </div><div class="actions">
            <i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i></div>
            <div class="actions">
              <button class="addbutt"><i class="material-icons"></i> Сдать задачу</button>
            </div>
    </li>
    
  </ol>
  <ol class="kanban  Done">
    <h2><i class="material-icons"></i>Сделано</h2>
      <li class="dd-item" data-id="5">
      <h3 class="title dd-handle"><i class=" material-icons "></i>Нарисовать Амогуса</h3>
        <div class="text" contenteditable="true">Нарисовать красивого амогуса который танцует лизгинка </div><div class="actions">
        <i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i></div>
      
    </li></li><li class="dd-item" data-id="2">
      <h3 class="title dd-handle"><i class=" material-icons "></i>Раскадровка</h3>
        <div class="text" contenteditable="true">Сделать раскадровку новой серии</div><div class="actions">
        <i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i><i class="material-icons"></i></div>
      
    </li>
    
  </ol>
  <ol class="kanban Gone">
    <h2><i class="material-icons"></i>Дедлайн</h2>
     <li class="dd-item" data-id="5">
      <h3 class="title dd-handle"><i class=" material-icons "></i>Сценарий</h3>
        <div class="text" contenteditable="true">Написать сценарий к новому мультику </div><div class="actions">
        
        <div class="actions">
          <button class="addbutt"><i class="material-icons"></i> Сдать задачу</button>
        </div>
    </li>
    
  </ol>

    
</div>

<!--{% if current_user.who == 2 %}<a href='#' id='trigger'>Создать Задачу</a> <!-- Всё происходит при нажатии на ссылку -->
<!--<div id='box' align ="center" style='display: none;padding:10px;background-color:#0a073ad2;margin:10px;width:210px;'>
    <form accept="" method="post">
            {{ form.hidden_tag() }}
            
            {{ form.idUser.label()}} <br>
            {{ form.idUser()}} <br>

            {{ form.idProject.label() }}<br>
            {{ form.idProject() }}<br>
        
            {{ form.nameTask.label() }}<br>
            {{ form.nameTask() }}<br>
        
            {{ form.descTask.label() }}<br>
            {{ form.descTask() }}<br>

            {{ form.timeTask.label() }}<br>
            {{ form.timeTask() }}<br>

            {{ form.manyTask.label() }}<br>
            {{ form.manyTask() }}<br>

            {{ form.linkDisk.label() }}<br>
            {{ form.linkDisk() }}<br>
        
        {{ form.submit() }}
    </form>
    <div class="change_task"><a href="task_changer">Изменить задачу</a></div>
</div> {% endif %}
{% if current_user.who == 1%}<a href='#' id='trigger'>Создать Задачу</a> <!-- Всё происходит при нажатии на ссылку -->
<!--<div id='box' align ="center" style='display: none;padding:10px;background-color:#0a073ad2;margin:10px;width:210px;'>
    <form accept="" method="post">
            {{ form.hidden_tag() }}
            
            {{ form.idUser.label()}} <br>
            {{ form.idUser()}} <br>

            {{ form.idProject.label() }}<br>
            {{ form.idProject() }}<br>
        
            {{ form.nameTask.label() }}<br>
            {{ form.nameTask() }}<br>
        
            {{ form.descTask.label() }}<br>
            {{ form.descTask() }}<br>

            {{ form.timeTask.label() }}<br>
            {{ form.timeTask() }}<br>

            {{ form.manyTask.label() }}<br>
            {{ form.manyTask() }}<br>

            {{ form.linkDisk.label() }}<br>
            {{ form.linkDisk() }}<br>
        
        {{ form.submit() }}
    </form>
    <div class="change_task"><a href="task_changer">Изменить задачу</a></div>
</div> {% endif %}

{% if current_user.who == 2 %}
<div class="completed_tasks"></div>
<p>Выполненные задачи</p>
  {% for u in list %}
    {% if u.statusСompleted == "Complete" %}
    <!-- <li>ID Задачи: {{u.id}}</li> -->
    <!--<li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
    <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
    <li>Наименование задачи: {{u.nameTask}}</li>
    <li>Описание задачи: {{u.descTask}}</li>
    <li>Время на выполнение: {{u.timeTask}}</li>
    <li>Полученные деньги за задачу{{u.manyTask}}</li>
    <li>Статус выполнения: {{u.statusСompleted}}</li>
    <li>Проверка чека: {{u.receipt}}</li>
    <li>Ссылка на диск с задачей: {{u.linkDisk}}</li> <p></p>
    {% endif %}
  {% endfor %}
  <p></p>
</div>

<div class="uncompleted_tasks">
  <p>Невыполненные задачи</p>
  {% for u in list %}
    {% if u.statusСompleted == "Uncomplete" %}
    <!-- <li>ID Задачи: {{u.id}}</li> -->
    <!--<li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
    <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
    <li>Наименование задачи: {{u.nameTask}}</li>
    <li>Описание задачи: {{u.descTask}}</li>
    <li>Время на выполнение: {{u.timeTask}}</li>
    <li>Полученные деньги за задачу{{u.manyTask}}</li>
    <li>Статус выполнения: {{u.statusСompleted}}</li>
    <li>Проверка чека: {{u.receipt}}</li>
    <li>Ссылка на диск с задачей: {{u.linkDisk}}</li> <p>gheb</p>
    <li><form actions="" method="post">
      <input type="submit" id="status_complete" value="Сдать задачу {{u.id}}"></input>
    </form>
  </li>
    {% endif %}
  {% endfor %}
  <p> </p>
</div>
<!-- <div class="deadline_tasks">
  {% for u in list %}
  {% if u.statusСompleted == "uncomplete" %}
    {% if today == u.timeTask %}
      <!-- <li>ID Задачи: {{u.id}}</li> -->
      <!-- <li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
      <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
      <li>Наименование задачи: {{u.nameTask}}</li>
      <li>Описание задачи: {{u.descTask}}</li>
      <li>Время на выполнение: {{u.timeTask}}</li>
      <li>Полученные деньги за задачу{{u.manyTask}}</li>
      <li>Статус выполнения: {{u.statusСompleted}}</li>
      <li>Проверка чека: {{u.receipt}}</li>
      <li>Ссылка на диск с задачей: {{u.linkDisk}}</li>
    {% endif %}
  {% endif %}
  {% endfor %}
</div> --> 
{% endif %}
{% if current_user.who == 1 %}
<!--<div class="completed_tasks">
  <p>Выполненные задачи</p>
  {% for u in list %}
  {% if u.id == current_user.id %}
    {% if u.statusСompleted == "Complete" %}
    <!-- <li>ID Задачи: {{u.id}}</li> -->
    <!--<li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
    <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
    <li>Наименование задачи: {{u.nameTask}}</li>
    <li>Описание задачи: {{u.descTask}}</li>
    <li>Время на выполнение: {{u.timeTask}}</li>
    <li>Полученные деньги за задачу{{u.manyTask}}</li>
    <li>Статус выполнения: {{u.statusСompleted}}</li>
    <li>Проверка чека: {{u.receipt}}</li>
    <li>Ссылка на диск с задачей: {{u.linkDisk}}</li> <p></p>
    {% endif %}
    {% endif %}
  {% endfor %}
  <p></p>
</div>

<div class="uncompleted_tasks">
  <p>Невыполненные задачи</p>
  {% for u in list %}
  {% if u.id == current_user.id %}
    {% if u.statusСompleted == "Uncomplete" %}
    <!-- <li>ID Задачи: {{u.id}}</li> -->
    <!--<li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
    <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
    <li>Наименование задачи: {{u.nameTask}}</li>
    <li>Описание задачи: {{u.descTask}}</li>
    <li>Время на выполнение: {{u.timeTask}}</li>
    <li>Полученные деньги за задачу{{u.manyTask}}</li>
    <li>Статус выполнения: {{u.statusСompleted}}</li>
    <li>Проверка чека: {{u.receipt}}</li>
    <li>Ссылка на диск с задачей: {{u.linkDisk}}</li> <p></p>
    <li><input type="submit" id="status_complete" value="Сдать задачу"></input></li> 
       {% endif %}
    {% endif %}
  {% endfor %}
  <p> </p>
</div>
<!-- <div class="deadline_tasks">
  {% for u in list %}
  {% if u.id == current_user.id %}
  {% if u.statusСompleted == "uncomplete" %}
    {% if today == u.timeTask %}
      <!-- <li>ID Задачи: {{u.id}}</li> -->
      <!-- <li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
      <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
      <li>Наименование задачи: {{u.nameTask}}</li>
      <li>Описание задачи: {{u.descTask}}</li>
      <li>Время на выполнение: {{u.timeTask}}</li>
      <li>Полученные деньги за задачу{{u.manyTask}}</li>
      <li>Статус выполнения: {{u.statusСompleted}}</li>
      <li>Проверка чека: {{u.receipt}}</li>
      <li>Ссылка на диск с задачей: {{u.linkDisk}}</li>
    {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</div> --> 

{% endif %}
{% if current_user.who == 0 %}
<!--<div class="completed_tasks">
  <p>Выполненные задачи</p>
  {% for u in list %}
  {% if u.id == current_user.id %}
    {% if u.statusСompleted == "Complete" %}
    <!-- <li>ID Задачи: {{u.id}}</li> -->
    <!-- <li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
    <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
    <li>Наименование задачи: {{u.nameTask}}</li>
    <li>Описание задачи: {{u.descTask}}</li>
    <li>Время на выполнение: {{u.timeTask}}</li>
    <li>Полученные деньги за задачу{{u.manyTask}}</li>
    <li>Статус выполнения: {{u.statusСompleted}}</li>
    <li>Проверка чека: {{u.receipt}}</li>
    <li>Ссылка на диск с задачей: {{u.linkDisk}}</li> <p></p>
    {% endif %}
    {% endif %}
  {% endfor %}
  <p></p>
</div>

<div class="uncompleted_tasks">
  <p>Невыполненные задачи</p>
  {% for u in list %}
  {% if u.id == current_user.id %}
    {% if u.statusСompleted == "Uncomplete" %}
    <!-- <li>ID Задачи: {{u.id}}</li> -->
    <!--<li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
    <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
    <li>Наименование задачи: {{u.nameTask}}</li>
    <li>Описание задачи: {{u.descTask}}</li>
    <li>Время на выполнение: {{u.timeTask}}</li>
    <li>Полученные деньги за задачу{{u.manyTask}}</li>
    <li>Статус выполнения: {{u.statusСompleted}}</li>
    <li>Проверка чека: {{u.receipt}}</li>
    <li>Ссылка на диск с задачей: {{u.linkDisk}}</li>
    <li><input type="submit" id="status_complete" value="Сдать задачу"></input></li>
        <p></p>
    {% endif %}
    {% endif %}
  {% endfor %}
  <p> </p>
</div>
<!-- <div class="deadline_tasks">
  {% for u in list %}
  {% if u.id == current_user.id %}
  {% if u.statusСompleted == "uncomplete" %}
    {% if today == u.timeTask %}
      <!-- <li>ID Задачи: {{u.id}}</li> -->
      <!-- <li>Пользователь, прикреплённый к задаче: {{u.idUser}}</li>
      <li>Проект, к которому прикреплена задача: {{u.idProject}}</li>
      <li>Наименование задачи: {{u.nameTask}}</li>
      <li>Описание задачи: {{u.descTask}}</li>
      <li>Время на выполнение: {{u.timeTask}}</li>
      <li>Полученные деньги за задачу{{u.manyTask}}</li>
      <li>Статус выполнения: {{u.statusСompleted}}</li>
      <li>Проверка чека: {{u.receipt}}</li>
      <li>Ссылка на диск с задачей: {{u.linkDisk}}</li>
    {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</div> --> 
{% endif %}
{% endblock %}