{% extends 'base.html' %}

{% block title %}
Проекты
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/my_projects.css')}}">
<script src="{{ url_for ('static', filename='js/jquery.min.js')}}"></script>

<div class="search-menu">
    <div class="navigation">
        
        <a href=""><div> Назад</div></a>
        <a href=""><div> Вперед</div></a>
    <input type="text" id="Search" onkeyup="functionSearch1()" placeholder="Введите имя">
    </div>
    <div id = "url"> 
        <a>{{url}}</a>
    </div>
</div>

<div class="context-menu">
    <ul class="tasks_list">
    {% for j in tasks %}
    <li>
    <a class ="triggerTask" id="{{j.id}}" href="#">
        <div class = "target" {% if j.statusСompleted == "Uncomplete" %} style="background-color: #29B6F6;"{% endif %}
        {% if j.statusСompleted == "Complete" %}style="background-color: #FF3D00;"{% endif %} >
            <h1>{{j.nameTask}}</h2>
            <p>{{j.descTask}}</p>
        </div>
    </a>
  

    <div class = "task" id = "tg{{j.id}}">
        <p>Имя проекта: {{j.nameTask}}</p>
        <p>Описание проекта: {{j.descTask}}</p>

        <form  method="POST">
            <div class="chat_name">
                текст
            </div>
            <input name="text" type="text">
            <input  type="submit" value="отправить сообщение">
        </form>
        <span class="myModal__close" class="close">ₓ</span>
    </div>
</li>
    {% endfor %}
</ul>
<ul  class="folder_list">
    {% for j in folders %}
    <li>
    <a href = "http://127.0.0.1:5000/projects/{{proj}}/{{j.id}}/">
        <div class = "target" style="background-color: '{{j.color}}';">
            <p>{{j.name}}</p>
            <a class="color" id = "j.id" href="#">изменить цвет</a>
        </div>
    </a>
    </li>
    {% endfor %}
</div>
</ul>
<div class="context-menu-open">
    <ul>
        <li><a href='#' id='trigger'>Создать папку</a></li>
        <li><a href='#' id='trigger1' style="color: black;">Создать задачу</a></li>
    </ul>
</div>

<div class="create" id = "create">
    <h1>Cоздать папку</h1>
    <form action="" method="post">
        <p>Название папки <input name="folderName" type="text"></p><br>
        <input class="btn_create" type="submit" value="Создать папку">
    </form>
    <div class="cl-btn-7"></div>
</div>
<div class="create" id = "create1">
    <h1>Создать задачу</h1>
    <form action="" method="post">
        <p>Название задачи:{{form.nameTask}}</p>
        <p>Описание задачи:{{form.descTask}}</p>
        <p>Время выполнения :{{form.timeTask}}</p>
        <p>Деньги за задачу:{{form.manyTask}}</p>
        <input type="text" id="perchik_search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
        <div class="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
            <div class="person_list">
                <ul>
                    {% for j in list %}
                        <li class="target"><p>{{j.up.name}}<input class="check" type="checkbox" value="id_sel" name = "{{j.up.idUser}}" ></p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p>{{form.submit}}</p>
    </form>
    <div class="cl-btn-7"></div>
</div>

<div class="colorPlus">
ne
</div>

<script>
    // обработка нажатьй и создания папок
    let contextMenu = document.querySelectorAll('.context-menu'); 
    let contextMenuOpen = document.querySelector('.context-menu-open'); 
    for (let i = 0; i < contextMenu.length; i++){ 
        contextMenu[i].addEventListener('contextmenu', function(e) {
            e.preventDefault();
            contextMenuOpen.style.left = e.clientX + 'px'; 
            contextMenuOpen.style.top = e.clientY + 'px';
            contextMenuOpen.style.display = 'block';
        });
    }    
    window.addEventListener('click', function() {
        contextMenuOpen.style.display = 'none';
    });
    
    let = contextMenu = $('.context-menu-open');
    $('.context-menu').on('contextmenu', function (e) {
        e.preventDefault();
        contextMenu.css({top: e.clientY + 'px', left: e.clientX + 'px' }); 
        contextMenu.show();
    });
    $(document).on('click', function () {
        contextMenu.hide();
    });

    //функция поиска
    function functionSearch() {
          var input = document.getElementById("Search");
          var filter = input.value.toLowerCase();
          var nodes = document.getElementsByClassName('target');
    
      for (i = 0; i < nodes.length; i++) {
        if (nodes[i].innerText.toLowerCase().includes(filter)) {
          nodes[i].style.display = "block";
        } else {
          nodes[i].style.display = "none";
        }
      }
    }
    // открыть создать папку
    $(document).ready(function(){
        $("#trigger").on('click', function(){
            $("#create").css('display','block');
            $(".context-menu-open").css('display','none');
            return false;
        });

        $(".cl-btn-7").on('click', function(){
            $("#create").css('display','none');
            return false;
        });
    });

    // открыть создать задачу
    $(document).ready(function(){
        $("#trigger1").on('click', function(){
            $("#create1").css('display','block');
            $(".context-menu-open").css('display','none');
            return false;
        });

        $(".cl-btn-7").on('click', function(){
            $("#create1").css('display','none');
            return false;
        });
    });

// открыть задачу
$(document).ready(function() {
    $('a.triggerTask').click( function(event){
        var clickId = $(this).attr('id');// значения открытыго проекта 
        $('.task#tg'+ clickId).css('display', 'block');
    });

    $('.myModal__close').click( function(){
        $('.task').css('display', 'none');
    });
});
// открыть форму изменение цвета
$(document).ready(function() {
    $('a.color').click( function(event){
        var clickId = $(this).attr('id');// значения открытыго проекта 
        $('.task#tg').css('display', 'block');
    });
});
</script>
{% endblock %}