{% extends 'base.html' %}

{% block title %}
Проекты
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/my_projects.css')}}">
<script src="{{ url_for ('static', filename='js/jquery.min.js')}}"></script>


<div class="search-menu">
    <div class="navigation">
        
        <a href=""><div> Назад</div></a>
        <a href=""><div> Вперед</div></a>
    <input type="text" id="Search" onkeyup="functionSearch1()" placeholder="Введите имя">
    </div>
    <div id = "url"> 
        <a>{{url}}</a>
    </div>
</div>

<div class="context-menu">
    <ul class="tasks_list">
    {% for j in tasks %}
    <li>
    <a class ="triggerTask" id="{{j.id}}" href="#">
        <div class="task-card">
    
            <p class="task-fname">{{j.nameTask}}</p>
            <!-- <p>{{j.descTask}}</p> -->

            <div class = "task-color" {% if j.statusСompleted == "Uncomplete" %} style="background-color: #29B6F6;"{% endif %}
            {% if j.statusСompleted == "Complete" %}style="background-color: #FF3D00;"{% endif %} >
        </div>
    </div>
    </a>
  

    <div class = "task" id = "tg{{j.id}}">
        <div class="task-up">
            <div class="finish-task"><a href=""> <p> Завершить задачу</p></a></div>
            <div class="downloads"> <a href=""> <p> Загруженные файлы</p></a></div>
    </div>

    <div class="task-info">
        <p class="task-name">{{j.nameTask}}</p>
        <p class="task-descript"> {{j.descTask}}</p>
        <div class="task-date"> дата</div>
        <div class="task-money"> мани</div>
            <!-- <div class="task-send-btn">
                <div class="task-send-file"><a href=""> <p>Прикрепить документ</p></a></div>
                <input id="myInput" type="file" multiple style="display:none">
                 <input class = "foto" name="file" type="file"> 
                <button id="myButton" type="button" >+ Add Files</button>
                </div> -->
        <!-- <div class="task-send-file">

                <div id="myFiles"></div>
        </div> -->
    </div>


        <form  method="POST">
            <div class="chat_name">
              <ul class="chat-massages">
                  <li class="chat-mass">
                     <div class="mass-ava"> </div>
                        <div class="mass-text">
                           
                                тут огромный огромный огромный огромныйогромный огромныйогромный огромныйогромный огромныйогромный огромный текст
                            
                        </div>
                  </li>
                  <li class="chat-mass">
                    <div class="mass-ava"> </div>
                       <div class="mass-text">
                           
                               тут еще больше больше большк большк большк большк большк больше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большк текст
                           
                       </div>
                 </li>
                 <li class="chat-mass">
                    <div class="mass-ava"> </div>
                       <div class="mass-text">
                           
                               тут текст
                           
                       </div>
                 </li>
                 <li class="chat-mass">
                    <div class="mass-ava"> </div>
                       <div class="mass-text">
                           
                               тут еще больше больше большк большк большк большк большк больше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большк текст
                           
                       </div>
                 </li>
                 <li class="chat-mass">
                    <div class="mass-ava"> </div>
                       <div class="mass-text">
                           
                               тут еще больше больше большк большк большк большк большк больше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большкбольше больше большк большк большк большк большк текст
                           
                       </div>
                 </li>
              </ul>
            </div>
            <div class="chat">
                <input class="chat-text" name="text" type="text">
                <input  class="chat-send" type="submit" value="отправить сообщение">
                </div>
        </form>

        <!-- <span class="myModal__close" class="close">ₓ</span> -->
        <div class="cl-btn-7"></div>
    </div>
</li>
    {% endfor %}
</ul>
<ul  class="folder_list">
    {% for j in folders %}
    <li>
    <a href = "http://127.0.0.1:5000/projects/{{proj}}/{{j.id}}/">
        <div class = "folder-card" style="background-color: '{{j.color}}';">
            <p>{{j.name}}</p>
            <div  class="folder-color"><a id = "j.id" href="#"></a></div>
            <div class="color-panel">
                <div id="blue" data-color="#b3e5fc" onclick="changeColor('blue')"> 
                </div>
                <div id="red" data-color="#ffcdd2" onclick="changeColor('red')"> 
                </div>
                <div id="purple" data-color="#b39ddb" onclick="changeColor('purple')">  
                </div>
                <div id="green" data-color="#c5e1a5" onclick="changeColor('green')">
                </div>
                <div id="orange" data-color="#ffcc80" onclick="changeColor('orange')"> 
                </div>
            </div>
        </div>
    </a>
    </li>
    {% endfor %}
</ul>
</div>


<div class="context-menu-open">
    <ul>
        <li><a href='#' id='trigger'>Создать папку</a></li>
        <li><a href='#' id='trigger1' style="color: black;">Создать задачу</a></li>
    </ul>
</div>

<div class="create" id = "create">
    <h1>Cоздать папку</h1>
    <form action="" method="post">
        <p>Название папки <input name="folderName" type="text"></p><br>
        <input class="btn_create" type="submit" value="Создать папку">
    </form>
    <div class="cl-btn-7"></div>
</div>

<div class="create" id = "create1">
    <h1>Создать задачу</h1>
    <form action="" method="post">
        <div class="cr-task-info">
        <p>Название задачи: {{form.nameTask}}</p>
        <p>Описание задачи: {{form.descTask}}</p>
        <p>Время выполнения: {{form.timeTask}}</p>
        <p>Деньги за задачу: {{form.manyTask}}</p>
    </div>
        <input type="text" id="perchik_search" onkeyup="functionSearch()" placeholder="Введите имя поиска">
        <div class="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
            <div class="person_list">
                <ul>
                    {% for j in list %}
                       
                        <li class="person"><p>{{j.up.name}}</p><input class="check" type="checkbox" value="id_sel" name = "{{j.up.idUser}}" ></li>
                       
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p>{{form.submit}}</p>
    </form>
    <div class="cl-btn-7"></div>
</div>

<div class="colorPlus">
ne
</div>

<script>
    // обработка нажатьй и создания папок
    let contextMenu = document.querySelectorAll('.context-menu'); 
    let contextMenuOpen = document.querySelector('.context-menu-open'); 
    for (let i = 0; i < contextMenu.length; i++){ 
        contextMenu[i].addEventListener('contextmenu', function(e) {
            e.preventDefault();
            contextMenuOpen.style.left = e.clientX + 'px'; 
            contextMenuOpen.style.top = e.clientY + 'px';
            contextMenuOpen.style.display = 'block';
        });
    }    
    window.addEventListener('click', function() {
        contextMenuOpen.style.display = 'none';
    });
    
    let = contextMenu = $('.context-menu-open');
    $('.context-menu').on('contextmenu', function (e) {
        e.preventDefault();
        contextMenu.css({top: e.clientY + 'px', left: e.clientX + 'px' }); 
        contextMenu.show();
    });
    $(document).on('click', function () {
        contextMenu.hide();
    });

    //функция поиска
    function functionSearch() {
          var input = document.getElementById("Search");
          var filter = input.value.toLowerCase();
          var nodes = document.getElementsByClassName('target');
    
      for (i = 0; i < nodes.length; i++) {
        if (nodes[i].innerText.toLowerCase().includes(filter)) {
          nodes[i].style.display = "block";
        } else {
          nodes[i].style.display = "none";
        }
      }
    }
    // открыть создать папку
    $(document).ready(function(){
        $("#trigger").on('click', function(){
            $("#create").css('display','block');
            $(".context-menu-open").css('display','none');
            return false;
        });

        $(".cl-btn-7").on('click', function(){
            $("#create").css('display','none');
            return false;
        });
    });

    // открыть создать задачу
    $(document).ready(function(){
        $("#trigger1").on('click', function(){
            $("#create1").css('display','block');
            $(".context-menu-open").css('display','none');
            return false;
        });

        $(".cl-btn-7").on('click', function(){
            $("#create1").css('display','none');
            return false;
        });
    });

// открыть задачу
$(document).ready(function() {
    $('a.triggerTask').click( function(event){
        var clickId = $(this).attr('id');// значения открытыго проекта 
        $('.task#tg'+ clickId).css('display', 'block');
    });

    $('.cl-btn-7').click( function(){
        $('.task').css('display', 'none');
    });
});
// открыть форму изменение цвета
$(document).ready(function() {
    $('a.color').click( function(event){
        var clickId = $(this).attr('id');// значения открытыго проекта 
        $('.task#tg').css('display', 'block');
    });
});

$(function(){
  let inputFile = $('#myInput');
  let button = $('#myButton');
  let filesContainer = $('#myFiles');
  let files = [];
  
  inputFile.change(function() {
    let newFiles = []; 
    for(let index = 0; index < inputFile[0].files.length; index++) {
      let file = inputFile[0].files[index];
      newFiles.push(file);
      files.push(file);
    }
    
    newFiles.forEach(file => {
      let fileElement = $(`<p>${file.name}</p>`);
      fileElement.data('fileData', file);
      filesContainer.append(fileElement);
      
      fileElement.click(function(event) {
        let fileElement = $(event.target);
        let indexToRemove = files.indexOf(fileElement.data('fileData'));
        fileElement.remove();
        files.splice(indexToRemove, 1);
      });
    });
  });
  
  button.click(function() {
    inputFile.click();
  });
});
// функция изменения цвета папки
function changeColor(colorValue) {
    document.body.style.background =     document.getElementById(colorValue).dataset.color;
}

</script>
{% endblock %}