{% extends 'base.html' %}

{% block title %}
Зарплата
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/salary.css')}}">

<div class="tabs">

    <p class="all_money">Получено за все время: {{total}}₽</p>


   <!-- <div class="period_list"> -->
    <input class="ch" type="radio" name="inset" value="" id="tab_1" checked>
    <label class="period" for="tab_1">День</label>

    <input class="ch" type="radio" name="inset" value="" id="tab_2">
    <label class="period" for="tab_2">Неделя</label>

    <input class="ch" type="radio" name="inset" value="" id="tab_3">
    <label class="period" for="tab_3">Месяц</label>

    <input class="ch" type="radio" name="inset" value="" id="tab_4">
    <label class="period" for="tab_4">Год</label>
    
<!-- </div> -->
    <div class="zp" id="txt_1">
        {% for u in task %}
        {% if u.timeTask == a %}
        {% if u.statusСompleted == "Сomplete" %}
        <h3 align = "left">{{u.timeTask}}</h3>
        <div class="lins">
            <div class="zp_info">
            <p><span>Задача: </span>{{u.nameTask}} </p>
            <p><span>Проект: </span>проект</p> 
        </div>
            <div class="money"><p>{{u.manyTask}} ₽</p></div>
        </div>
            {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="zp" id="txt_2">
        {% for u in task %}
            {% if  u.timeTask >= b %}
            {% if u.statusСompleted=="Сomplete" %}
                <h3 align = "left">{{u.timeTask}}</h3>
                <div class="lins">
                    <div class="zp_info">
                    <p><span>Задача: </span>{{u.nameTask}} </p>
                    <p><span>Проект: </span>проект</p> 
                </div>
                    <div class="money"><p>{{u.manyTask}} ₽</p></div>
                </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    
    <div class="zp" id="txt_3">
    {% for u in task %}
        {% if  u.timeTask >= c %}
        {% if u.statusСompleted=="Сomplete" %}
            <h3 align = "left">{{u.timeTask}}</h3>
            <div class="lins">
                <div class="zp_info">
                <p><span>Задача: </span>{{u.nameTask}} </p>
                <p><span>Проект: </span>проект</p> 
            </div>
                <div class="money"><p>{{u.manyTask}} ₽</p></div>
            </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="zp" id="txt_4">
        {% for u in task %}
        {% if  u.timeTask >= d %}
        {% if u.statusСompleted=="Сomplete" %}
            <h3 align = "left">{{u.timeTask}}</h3>
            <div class="lins">
                <div class="zp_info">
                <p><span>Задача: </span>{{u.nameTask}} </p>
                <p><span>Проект: </span>проект</p> 
            </div>
                <div class="money"><p>{{u.manyTask}} ₽ </p></div>
            </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock %}
