{% extends 'base.html' %}

{% block title %}
Зарплата
{% endblock %}

{% block body %}
<p class="total">Всего за всё время выплачено: {{total}}</p>
<div class="year_task"> <p>
    2021-2022 года <br>
    {% for u in tasks%}
    {% if total_year > 0 %}
        {% if current_user.id == u.idUser %}
            {% if u.statusСompleted == "Complete" %}
                    Дата: {{u.timeTask}} <br>
                    Получено: {{u.manyTask}} <br> <br>
            {%endif%}
        {% endif %}
        {% endif %}
    {% endfor %}
    Всего: {{total_year}}
</p></div>
<div class="month_task"><p>
    Март-апрель <br>
    {% for u in tasks%}
    {% if total_month>0%}
        {% if current_user.id == u.idUser %}
            {% if u.statusСompleted == "Complete" %}
                    Дата: {{u.timeTask}} <br>
                    Получено: {{u.manyTask}} <br> <br>
            {%endif%}
        {% endif %}
        {%endif%}
    {% endfor %}
    Всего: {{total_month}}
</p></div>
<div class="day_task"><p>
    Сегодня <br>
    {% for u in tasks%}
    {%if total_day > 0%}
        {% if current_user.id == u.idUser %}
            {% if u.statusСompleted == "Complete" %}
                    Дата: {{u.timeTask}} <br>
                    Получено: {{u.manyTask}} <br> <br>
            {%endif%}
        {% endif %}
        {%endif%}
    {% endfor %}
    Всего: {{total_day}}
</p></div>
{% endblock %}
